*,
*:before,
*:after { box-sizing: border-box; }
body {
    margin: 0px;
    font-family: $sansSerif;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}