.brand {
    display: flex;
    align-items: center;
}
.brand__image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.brand__title {
    font-size: 24px;
    font-weight: 500;
    color: $whiteSecondary;
}